<!DOCTYPE html>
<html>

<head>
   <title>Sample Single Page Web Application</title>
   <link rel="icon" href="/img/sampleSpa.ico" type="image/png" sizes="16x16" />
   <script src="/src/jquery-3.2.1.min.js"></script>

   <meta name="description" content="Sample Single Page Web Application">
   
</head>

<body>
   {{{body}}}
</body>
</html>

