<!-- ===================================================================  
     Project: Sample SPA Health Check response                                           
     =================================================================== -->

<p>Sample SPA</p>
<p>----------------</p>
<br>
<p>Software Version v{{version}}</p>




